/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/
header {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #1c5380;
}

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 20%;
  background-color: white;
  background: linear-gradient(0deg, #ffffff 60%, #1c5380 60%);
}

.capture-des {
    border: 1px solid white;
    background-color: white;
    box-shadow: 30px 0px 50px 1px #cfcfcf;
    margin: 40px;
    border-radius: 5px;
    width: 500px;
    height: 340px;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    
}

.capture-des h1{
  width: 80%;
  font-size: 1.2em;
  text-align: left;
  color: #1c5380;
}

.capture-des p{
  width: 80%;
  text-align: left;
}

.encase-outer {
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: row;
}

.bg-color1 {
  background-color: #1c5380;
  height: 60%;
  width: 100%;
  position: absolute;
}

.log-in-logo {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.log-in {
  height: 30px;
  width: 20%;
  border: 1px solid #414141;
  background: linear-gradient(90deg, rgba(21,119,201,1) 0%, rgb(82, 149, 204) 100%);
  margin: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.log-in p {
  width: 80px;
  height: 10%;
  line-height: 0px;
  font-weight: bold;
}

.encase-inner {
  padding: 50px 0 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: left;
}

.log-in-logo article {
  margin: 10px;
}

.button-again {
  
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.footer nav {
  width: 60px;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

nav ul {
list-style: none;
margin: 5px;
display: flex;
align-items: center;
font-weight: bold;
}

nav p {
  color: #707070;
}

nav a {
text-decoration: none;
color: #1c5380;
margin: 15px;
font-weight: bold;
}
